<div class="card article">
  <div class="article__header">
    <h3 class="article__title">
      <a [href]="article.url" target="_blank">{{article.title}}</a>
    </h3>

    <div class="article__tag-container">
      <span class="article__tag badge badge-pill badge-primary">
        {{article.tag}}
      </span>
    </div>
  </div>

  <div class="card-body">
    <p>{{article.description}}</p>
  </div>

  <div class="card-footer text-muted">
    <button class="btn btn-primary"
            [disabled]="isSaved"
            (click)="save(article)">
      Save
    </button>
  </div>
</div>